/*===================================================> Global / Variable / Import / Root <=========================================================*/

/* ------ Polices Google Font -> Salsa & Roboto ------ */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100;1,400&family=Salsa&display=swap');

:root {
    /* Couleurs */
    --custom-gradient-background-color: linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);

    /* Polices */
    --font-salsa: "Salsa", cursive;
    --font-roboto: "Roboto", sans-serif;
    
}

.bg-light, .btn-light {
    background-color: #F8F8F8 !important;
}

input {
    border-color: none !important;
    box-shadow: none !important;
    outline: 0 !important;
    font-family: var(--font-roboto);
}

input:focus, textarea:focus {
    border-color: rgba(128, 128, 128, 0.5) !important;
    box-shadow: none !important;
    outline: 0 !important;

    
}
.btn-close {
    box-shadow: none !important;
}

.h2Salsa {
    font-family: var(--font-salsa);
    font-size: max(16px, 2.2vw);
    font-weight: medium;
}

.h3Salsa {
    font-family: var(--font-salsa);
    font-size: max(15px, 1.8vw);
    font-weight: medium;
}

.hSalsaNav {
    font-family: var(--font-salsa);
    font-size: max(15px, 1.1vw);
    font-weight: medium;
}


.pRobotoLogin {
    font-family: var(--font-roboto);
    font-size: max(14px, 1.6vw);
    font-weight: medium;
}

.pRobotoThinLogin {
    font-family: var(--font-roboto);
    font-weight: 100; 
    font-style: italic;
    font-size: max(12px, 1.2vw);
}

.pUnderline {
    font-family: var(--font-roboto);
    font-size: max(10px, 1vw);
    font-weight: medium;
}

.iconLogin {
    width: clamp(20px, 2.5vw, 35px);
    height: clamp(20px, 2.5vw, 35px);
    margin-left: 10px !important;
}

.bgLightPerso {
    background-color: #F8F8F8 !important;
}

/*===================================================> HEADER / HEADERbis <=========================================================*/
.header, .header-bis {
    background: var(--custom-gradient-background-color);
    background-size: 150%;
    background-position: 30% 70%; /* Axe de dégradé en oblique et dépasse uniformément */
    z-index: 1;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center; 
}


.header .form-control {
    width: 60vw;
    height: 5vh;
    background-repeat: no-repeat; 
    background-position: left 10px center; 
    padding-left: 60px; 
    background-size: 20px;
    border-radius: 34px;
    border-style: none;
    opacity: 0.9;
    font-family: var(--font-roboto);
    font-weight: medium;
    font-size: 15px;
}

.header img {
    width: 66px;
    height: 100%;
}


.btnRecette {
    border-radius: 34px;
    text-decoration: var(--custom-gradient-background-color);
    width: 100%;
    background-color: white !important;

}

.blockBtnRecetteDesktop {
    display: none !important;

}
.blockBtnRecetteDesktop:hover {
   background-color: white !important;


}

.blockBtnRecetteMobile {
    display: block !important;
}

.iconRecetteMobile {
    width: 40px !important;
    height: 40px !important;
 }
 .iconRecetteDesktop {
     display: block !important;
 }


.logoMobile {
    width: 66px;
    height: 100%;
}

.logoDesktop {
    display: none;
}


/*===================================================> FOOTER / FOOTERbis <=========================================================*/

footer {
    /* background-image: url('../img/UnionDesktop.svg') !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 100vw !important;
    height: 100vh !important; */
    background: var(--custom-gradient-background-color);
    background-size: 150%;
    background-position: 30% 70%;
    width: 100%;
}
.footer-textN1 a{
    font-family: var(--font-roboto);
    font-weight: medium;
    text-decoration: underline;
    font-size: 9px;
    color: white;
}
.footer-textN1 a:hover{
    font-weight: bold;
    color: #5CA3FF;
}

.footer-textN2 {
    font-family: var(--font-salsa);
    font-weight: medium;
    font-size: 8px;
    color: white;
}

/*===================================================> All Page Connexion <=========================================================*/

.btnAllLogin {
    background-color: rgba(210, 210, 210, 0.5) !important;
    transition: all 0.3s ease;
    border-radius: 14px !important;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px !important;
    font-family: var(--font-roboto);
}

.btnAllLogin:hover,
.btnAllLogin:active {
    background-color: #5B9F5B !important;
    color: white !important;
    font-weight: bold !important;
}

.btnAllLogin:hover img,
.btnAllLogin:active img {
    filter: brightness(0) invert(1);
}

div.text-dark > .pRobotoLogin {
    color: black !important;
}

/*===================================================> Page Profil <=========================================================*/

.btnRecetteProfil {
    border-radius: 34px !important;
    text-decoration: none !important;
    font-family: var(--font-roboto);
    font-size: max(13px, 2vw);
    font-weight: medium;
    color: white;
    height: auto !important;
    width: auto !important;
    background: var(--custom-gradient-background-color);
    background-size: 150%; 
    background-position: 30% 70%;
}
.btnRecetteProfil:hover {
    border-radius: 34px !important;
    text-decoration: none !important;
    font-family: var(--font-roboto);
    font-size: max(13px, 2vw);;
    font-weight: medium;
    color: white;
    width: auto!important;
    background: var(--custom-gradient-background-color);
    background-size: 150%; 
    background-position: 30% 70%;
}

.catégorieProfil {
    width: 80%;
    height: 100px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border: 2px solid transparent;
    border-radius: 4px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: 
        linear-gradient(to right, white, white),
        linear-gradient(45deg, #C5C5C5 100%, #C5C5C5 100%);
}

.catégorieProfil:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.catégorieProfil:hover {
    border: 5px solid transparent;
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: 
        linear-gradient(to right, white, white),
        linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
}

.catégorieProfil div {
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
    min-width: 100px;
    border-radius: 0 0 10px 0;
   
}

.catégorieProfil div img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.catégorieProfil div span {
    color: black;
    font-size: 12px;
    font-weight: medium;
    margin: 0;
    white-space: nowrap;
}

.catégorieProfil:hover div span {
    filter: brightness(1.2);
    color: #FF62C0;
    transition: filter 0.3s ease, color 0.3s ease;
    font-weight: bold;
}

.catégorieProfil:hover .iconPublic {
    content: url('../img/iconPublicDégradé.svg');
    transition: all 0.3s ease;
}

.catégorieProfil:hover .iconFavoris {
    content: url('../img/iconFavorisDégradé.svg');
    transition: all 0.3s ease;
}

.catégorieProfil:hover .iconPrivé {
    content: url('../img/iconPrivéDégradé.svg');
    transition: all 0.3s ease;
}

.catégorieProfil:hover .iconPublic,
.catégorieProfil:hover .iconFavoris,
.catégorieProfil:hover .iconPrivé {
    transform: scale(1.1);
    filter: brightness(1.2);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.imgPublic, .imgFavoris, .imgPrivé {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.iconPublic, .iconFavoris, .iconPrivé {
    z-index: 2;
    width: auto;
    height: auto;
}

.imgProfil .rounded-circle {
    width: 150px !important;
    height: 150px !important;
}

.hiddenText {
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis;
}

/*===================================================> Page Index <=========================================================*/
/*--- All Cards index ---*/
.allCardsIndex {
    height: auto;
}

.card {
    overflow: hidden !important;
    border: 2px solid #B9B9B9 !important;
    border-radius: 10px !important;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: 
        linear-gradient(to right, white, white),
        linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
}
.card:hover {
   overflow: hidden !important;
   border: 2px solid transparent !important;
   border-radius: 10px !important;
   background-origin: border-box;
   background-clip: content-box, border-box;
   background-image: 
       linear-gradient(to right, white, white),
       linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
}

.card-img-top {
    height: 50% !important;
    border-radius: 5px 5px 0 0 !important;
}   

.card-body {
    height: 100% !important; 

}
.card-body h5 {
     font-family: var(--font-salsa);
     font-size: max(14px, 1.4vw);
     overflow: hidden;
     word-wrap: break-word !important;
     word-break: break-word !important;
     white-space: nowrap;

}
.card-body p {
     font-family: var(--font-roboto);
     font-size: max(14px, 1.3vw);
     overflow: hidden;
     word-wrap: break-word !important;
     word-break: break-word !important;

}
.card-body img {
    width: clamp(20px, 3.5vw, 30px);
    height: clamp(20px, 3.5vw, 30px);
    margin-left: 10px !important;

}


/*--- Filtre index ---*/
.miniFiltreIndexBtn:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
    border-radius: 4px !important;
    transition: all 0.3s ease;
}

/* couleur du texte label en hover */
.miniFiltreIndexBtn:hover p{
    background: linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
    -webkit-background-clip: text; /* S'applique au texte */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le fond */
    font-weight: bold;
    transition: all 0.3s ease;
    
}

/* couleur du texte label */
input[type="radio"]:checked + label p {
    background: linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
    -webkit-background-clip: text; /* S'applique au texte */
    -webkit-text-fill-color: transparent; /* Rend le texte transparent pour afficher le fond */
    font-weight: bold;
    transition: all 0.3s ease;
}

/* Bordure transp pour les radios validés */
input[type="radio"]:checked + label {
    padding: 1px !important;
    border: 1px solid transparent !important;
    border-radius: 20px !important;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-image: 
        linear-gradient(to right, white, white),
        linear-gradient(45deg, #FF62C0 3%, #FFDC69 100%);
}




/*--- navBar index ---*/
.iconIndex {
    width: clamp(30px, 3.5vw, 45px);
    height: clamp(30px, 3.5vw, 45px);
}

.animationBarDesktop, .animationBarMobile {
    border: none !important;
    position: relative;
    overflow: hidden;
  }  
  
  .hrMobile {
      border: 0;
      border-top: 3px solid red;
      border-radius: 12px;
      width: 0;
      position: absolute;
      top: 3%;
      left: 25%;
      margin: 0;
      transition: width 0.5s ease-out;
      -webkit-transition: width 0.5s ease-out;
  }

.hrDesktop {
    border: 0;
    border-top: 5px solid red;
    border-radius: 12px;
    width: 0;
    position: absolute;
    top: 80%;
    left: 33%;
    margin: 0;
    transition: width 0.5s ease-out;
    -webkit-transition: width 0.5s ease-out;
    margin: 0 !important;
    padding: 0 !important;
}

.animationBarMobile:hover .hrMobile {
    width: 50%;
}
.animationBarDesktop:hover .hrDesktop {
    width: 34%;
}



/*--- Filtre Ingredients et Plats ---*/
/* Conteneurs principaux */
.allCardsIngredients, .allCardsPlats {
    width: 100%;   
    height: auto;
    max-width: 100%;
}

/* Styles de base pour les cartes */
.cardsIngredients, .cardsPlats {
    width: 100%;
    height: 9vh;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s ease;
}

/* Contenu des cartes */
.cardsIngredients div, .cardsPlats div {
    width: clamp(100px, 20vw, 180px); /* Commence à 90px, s'étend jusqu'à 180px */
    white-space: nowrap;
    position: absolute;
    top: 10px;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    z-index: 2;
    border-radius: 0 5px 5px 0;
}

/* Suppression des effets sur le focus et hover */
.cardsIngredients:focus,
.cardsIngredients:active,
.cardsIngredients:hover,
.cardsPlats:focus,
.cardsPlats:active,
.cardsPlats:hover {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

/* Texte à l'intérieur des cartes */
.cardsIngredients div p, .cardsPlats div p {
    font-family: var(--font-salsa);
    font-size: max(12px, 1.5vw);
    font-weight: medium;
}

/* État par défaut en Off */
.cardsIngredientsOff, .cardsPlatsOff {
    border: none;
    opacity: 0.4;
}

.bulletOff-On {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    z-index: 2;
    width: max(25px, 3vw);
    height: max(25px, 3vw);
    content: url('../img/bulletOff.svg');
    transition: all 0.3s ease;
}


/*------- Gestion des radios (Plats) -------*/
/*------- Gestion des radios (Plats) -------*/
/* Lorsqu'un radio est sélectionné */
input[type="radio"]:checked + label.cardsPlats {
    opacity: 1;
    transition: all 0.3s ease;
}

input[type="radio"]:checked + label.cardsPlats .bulletOff-On {
    content: url('../img/bulletOn.svg');
    transition: all 0.3s ease;
}


/*------- Gestion des checkboxes (Ingrédients) -------*/
/* Lorsqu'une checkbox est cochée */
input[type="checkbox"]:checked + label.cardsIngredients {
    opacity: 1;
    transition: all 0.3s ease;
}
input[type="checkbox"]:checked + label.cardsIngredients .bulletOff-On {
    content: url('../img/bulletOn.svg');
    transition: all 0.3s ease;
}


/*===================================================> Page Créer / Modifier une recette <=========================================================*/

.btnPageModifierCreeRecette, .btnPageModifierCreeRecetteStatus {
    padding: 4px 1px !important;
    border: 2px solid #B9B9B9 !important;
    background: white;
    border-radius: 6px !important;
    white-space: nowrap;
    font-size: max(12px, 1.2vw);
    width: 100% !important;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.btnPageModifierCreeRecetteStatus {
    padding: 4px 24px !important;
}

.btn-check:checked + .btnPageModifierCreeRecette, .btn-check:checked + .btnPageModifierCreeRecetteStatus {
    border: 2px solid transparent !important;
    border-radius: 6px !important;
    background: 
    linear-gradient(to right, white, white) padding-box,
    var(--custom-gradient-background-color) border-box !important;
    border-image: var(--custom-gradient-background-color) 1 !important;
    background-origin: border-box !important;
    background-clip: padding-box, border-box !important;
    opacity: 1;
    transition: opacity 0.3s ease
}



/*===================================================> Page Créer / Modifier une recette <=========================================================*/

.border-gradient {
    position: relative;
    border: 2px solid transparent;
    border-radius: 0.375rem;
}

.border-gradient::before {
    content: '';
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    background: var(--custom-gradient-background-color);
    z-index: -1;
    border-radius: calc(0.375rem + 2px);
}

.border-gradient::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #F8F8F8;
    z-index: -1;
    margin: 1px;
    border-radius: 0.375rem;
}

#accordionrecipe {
    margin-bottom: 20px;
    border-radius: 50px !important;
}

.accordion {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}


.accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-button {
    font-family: var(--font-roboto);
    font-weight: bold;
    font-size: max(14px, 1.3vw);
    background-color: transparent !important;
    border-radius: 20px 20px 0 0;
}

.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
    background-image: var(--custom-gradient-background-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-item {
    background-color: #F8F8F8;
    border: none;
    margin-bottom: 15px;
    border-radius: 8px;
    overflow: hidden;
}

.accordion-body p {
    font-family: var(--font-roboto);
    font-size: max(14px, 1.3vw);
    font-weight: medium;
    word-wrap: break-word;
    word-break: break-word;
    white-space: normal;
    overflow-wrap: break-word;
}

/*===================================================> All Page footer <=========================================================*/
.blockAllFooterSection {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre les blocs */
}
.blockN2 {
    max-width: 90%; /* Limite la largeur maximale */
    width: 100%; /* Utilise toute la largeur disponible */
    margin: 0 auto; /* Centre le contenu */
}

.blockN2 p {
    word-wrap: break-word; /* Assure que les mots longs ne dépassent pas */
    overflow-wrap: break-word;
    max-width: 100%; /* S'assure que le paragraphe ne dépasse pas */
}
.blockN1, .blockN2 {
    display: flex;
    align-items: center;
}

.titleAllFooter {
    background: var(--custom-gradient-background-color);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 150%;
    background-position: 30% 70%;
    font-weight: bold;
}

.rectVerticalAllFooter {
    width: 1.5vw; /* Largeur du rectangle */
    height: 20vh; /* Hauteur du rectangle */
    background: var(--custom-gradient-background-color);
    opacity: 0.5;
    background-size: 150%;
    background-position: 30% 70%;
    border-radius: 12px;
}

/*===================================================> Page 404<=========================================================*/
.text404N1 {
    font-size: 90px;
    font-weight: bold;
}

.text404N2 {
    font-size: 20px;
    font-weight: bold;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~> MEDIA QUERIES <~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>*/
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~>*/

/*--- Media Queries - Tablette et plus ---*/
@media screen and (min-width: 768px) {
    /*--- HEADER / HEADERbis - Tablette ---*/
    .blockBtnRecetteDesktop {
        display: flex !important;
        width:  auto !important;
        height: 100% !important;
    }
    .iconRecetteDesktop {
        width: 3vw !important;
        height: 3vh !important;
    }
    
    .blockBtnRecetteMobile {
        display: none !important;
        height: 5vh;
    }

    .pRecette {
        color: transparent;
        background: var(--custom-gradient-background-color);
        -webkit-background-clip: text; 
        background-clip: text;
        white-space: nowrap;
        font-family: var(--font-roboto);
        font-weight: bold;
        font-size: max(14px, 1.3vw);;
        margin: 0 !important;
    }


    .logoMobile {
        display: none;
       
    }
    .logoDesktop {
        display: block;
        width: 15vw !important;
        height: auto !important;
     
    }

    /*--- FOOTER - Tablette ---*/

    .footer-textN1 a{
        font-size: 1vw;
    }
    
    .footer-textN2 {
        font-size: 1vw;

    }

    .catégorieProfil {
        width: 100%;
        height: 200px;
        border: 5px solid transparent;
        border-radius: 12px;
    }

    .catégorieProfil div {
        padding: 8px 15px;
        min-width: 120px;
    }

    .catégorieProfil div img {
        width: 25px;
        height: 25px;
        margin-right: 8px;
    }

    .catégorieProfil div span {
        font-size: 14px;
    }

    .imgPublic, .imgFavoris, .imgPrivé {
        width: 100%;
        height: 100%;
    }

    .iconPublic, .iconFavoris, .iconPrivé {
        width: 50px;
        height: 50px;
        top: 20px;
        left: 20px;
    }

    .catégorieProfil span {
        bottom: 20px;
        left: 20px;
        font-size: 1.2em;
    }

    .imgProfil .rounded-circle {
        width: 100% !important;
        height: 100% !important;
    }

    /*--- Creer/Modifier une recette - Tablette ---*/
    .btnPageModifierCreeRecette,  .btnPageModifierCreeRecetteStatus {
        border: 4px solid #B9B9B9 !important;
        background: white;
        border-radius: 8px !important;

    }

    .btnPageModifierCreeRecetteStatus {
        padding: 8px 32px !important;
    }
    
    .btn-check:checked + .btnPageModifierCreeRecette, .btn-check:checked + .btnPageModifierCreeRecetteStatus {
        border: 4px solid transparent !important;
        border-radius: 8px !important;

    }
    
    .border-gradient::after {
        margin: 3px;
    }   

    /*--- Page 404 - Tablette ---*/
    .text404N1 {
        font-size: 200px;
        font-weight: bold;
    }

    .text404N2 {
        font-size: 50px;
        font-weight: bold;
    }

    /*--- All Cards index - Tablette ---*/
    .card {
        border: 5px solid #B9B9B9 !important;
        border-radius: 15px !important;
    }
    .card:hover {
       border: 5px solid transparent !important;
       border-radius: 15px !important;
    }
    
    .card-img-top {
        height: 50% !important;
    }   

}

/*--- Media Queries - PC (min 1512px) ---*/
@media screen and (min-width: 1512px) {
    /*--- HEADER / HEADERbis - Pc ---*/
    .header .form-control {
        background-position: left 20px center; 
        padding-left: 70px; 
        background-size: 35px;
        font-size: 1.5rem;
    }

    /*--- FOOTER - Pc ---*/


}